@import '~@angular-mdc/theme/material';
@import './dimensions.scss';

.modal-header {
    text-transform: capitalize;
    font-size: 64px;
    font-weight: 500;
    padding-left: 32px;
    background: $material-color-amber-400;
    color: black;
    line-height: $modal-header-height;
}

.modal-footer {

    cursor: pointer;
        border-top: 1px solid rgba(0,0,0,0.54);
        line-height: $modal-footer-height;
        height: $modal-footer-height;
        text-align: center;
        font-size: 56px;
}

.modal-contents {

    .main-contents {
        height: $modal-height;
        overflow-y: auto;
        overflow-x: hidden;
        font-size: 48px;
        padding: 32px;
        box-sizing: border-box;
    }

    &.with-header {

        .main-contents {
            height: #{$modal-height - $modal-header-height};
        }
    }

    &.with-footer {

        .main-contents {
            height: #{$modal-height - $modal-footer-height};
        }
    }

    &.with-header.with-footer {

        .main-contents {
            height: #{$modal-height - $modal-header-height - $modal-footer-height};
        }
    }

}