<div class="title">Display Settings</div>
<div *ngIf="settingsRetrieved" class="grid-icons-container">
    <div *ngFor="let setting of booleanViewSettings"
        class="grid-icon-container"
        [ngClass]="{'disabled' : !setting.enabled}"
        (click)="toggleSetting(setting)">
        <div class="grid-icon">
            <mdc-icon>
                {{(setting.status && setting.enabled) ? setting.onIcon : setting.offIcon}}
            </mdc-icon>
        </div>
        <div class="description">
            {{setting.name}}
        </div>
        <div class="sub description" [ngSwitch]="setting.enabled">
            <div *ngSwitchCase=true [ngSwitch]="setting.status">
                <div *ngSwitchCase="true" class="green">
                    Enabled
                </div>
                <div *ngSwitchDefault class="red">
                    Disabled
                </div>
            </div>
            <div *ngSwitchDefault class="yellow">
                Not Available
            </div>
        </div>
    </div>
    <div class="grid-icon-container" (click)="temp()">
        <div class="grid-icon">
            <mdc-icon>terrain</mdc-icon>
        </div>
        <div class="description">
            Height Scale
        </div>
        <div class="sub description">
            {{heightExaggeration | number: '1.2-2'}}x
        </div>
    </div>
</div>