<div style="display: flex">
    <div class="dummy-icons-container" [ngClass]="mode" (click)="onBackTriggerClick($event)">
        <div *ngFor="let icon of navigableIcons; let i = index" 
            [ngClass]="componentName + ' dummy-icon ' + i">
        </div>
    </div>
    <div class="navigable-icons-container" [ngClass]="mode">
        <app-main-modal-navigable-icon 
            [mode]="mode"
            (iconClicked)="startActivity('BBoxSelection')"
            materialIcon="select_all"
            title="Area Selection">
        </app-main-modal-navigable-icon>
        <app-main-modal-navigable-icon 
            [mode]="mode"
            (iconClicked)="startActivity('ToolsDistance')"
            materialIcon="space_bar"
            title="Distance">
        </app-main-modal-navigable-icon>
        <app-main-modal-navigable-icon
            [mode]="mode"
            (iconClicked)="startActivity('ToolsHeightProfile')"
            materialIcon="show_chart"
            title="Elevation Profile">
        </app-main-modal-navigable-icon>   
        <!-- <app-main-modal-navigable-icon
            [mode]="mode"
            (iconClicked)="startActivity('ToolsSunAngle')"
            materialIcon="wb_sunny"
            title="Sun Angle">
        </app-main-modal-navigable-icon>  -->
    </div>
    <div class="router-outlet" [ngClass]="{visible: !isLastChild}">
        <ng-container *ngIf="!isLastChild">
            <router-outlet></router-outlet>
        </ng-container>
    </div>
</div>