@import '../../styles/common.scss';

.back-trigger {
    cursor: pointer;
    width: $back-trigger-width;
    height: $screen-height;
    position: fixed;
    transition: background 200ms ease-in-out;

    &:hover {
        background: rgb(41, 182, 246);
    }

    .material-icons {
        user-select: none;
        font-size: $back-trigger-width;
        position: relative;
        top: #{($screen-height - $back-trigger-width) / 2};;
        color: white;
    }
}
