<div *ngIf="isLastChild" class="grid-icons-container">
    <div class="grid-icon-container disabled">
        <div class="grid-icon">
            <mdc-icon>language</mdc-icon>
        </div>
        <div class="description">
            Return to Globe
        </div>
    </div>
    <div class="grid-icon-container" routerLink="./view-settings">
        <div class="grid-icon">
            <mdc-icon>visibility</mdc-icon>
        </div>
        <div class="description">
            Display Settings
        </div>
    </div>
    <div class="grid-icon-container">
        <div class="grid-icon">
            <mdc-icon>info</mdc-icon>
        </div>
        <div class="description">
            Information
        </div>
    </div>
</div>
<div *ngIf="!isLastChild">
    <div (click)="onBackTriggerClick($event)" class="back-trigger">
        <mdc-icon>arrow_back</mdc-icon>
    </div>
    <div style="flex: 1;">
        <router-outlet></router-outlet>
    </div>
</div>