<div class="grid-icons-container">
    <div class="grid-icon-container" (click)="showGlobeModel()">
        <div class="grid-icon">
            <mdc-icon>language</mdc-icon>
        </div>
        <div class="description">
            Return to Globe
        </div>
    </div>
    <div class="grid-icon-container" routerLink="../view-settings">
        <div class="grid-icon">
            <mdc-icon>visibility</mdc-icon>
        </div>
        <div class="description">
            Display Settings
        </div>
    </div>
    <div class="grid-icon-container disabled">
        <div class="grid-icon">
            <mdc-icon>info</mdc-icon>
        </div>
        <div class="description">
            Information
        </div>
    </div>
</div>
<div class="minimize-button-container">
    <button mdc-icon-button (click)="hideControlPanel()">
        <mdc-icon>launch</mdc-icon>
    </button>
</div>