<div class="modal-contents with-header with-footer">
    <div class="modal-header">
        Bounding Box Selection
    </div>
    <div class="main-contents" [ngSwitch]="helpMode">
        <div *ngSwitchCase="false">
            <div class="bbox-container">
                <div class="latitude end">
                    {{formatCoordinate(boundingBox.latEnd)}}
                </div>
                <div class="mid-section">
                    <div class="longitude start">
                        {{formatCoordinate(boundingBox.lonStart)}}
                    </div>
                    <div class="square"></div>
                    <div class="longitude end">
                        {{formatCoordinate(boundingBox.lonEnd)}}
                    </div>
                </div>
                <div class="latitude start">
                    {{formatCoordinate(boundingBox.latStart)}}
                </div>
            </div>
        </div>
        <div *ngSwitchCase="true">
            <div>
                Make an area selection by specifying the bounding box boundaries:
            </div>
        </div>
    </div>
    <div class="modal-footer" (click)="toggleHelpMode()" [ngSwitch]="helpMode">
        <div *ngSwitchCase="false">
            Press the Steam button for help
        </div>
        <div *ngSwitchCase="true">
            Press the Steam button to return
        </div>
    </div>
</div>