$modal-width: 100vw;
$modal-height: 720px;
$modal-header-height: 96px;
$search-results-width: 720px;

$navigable-icon-size: 320px;
$navigable-icon-small-size: 72px;
$navigable-icon-small-container-width: 96px;

$scroll-bar-width: 24px;
