@import '../../../styles/theme.scss';
@import './dimensions.scss';

.search-results-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    .actions-container {
        width: 72px;
        height: #{$modal-height - $modal-header-height};
        //height: 500px; // FIXME

        .action {
            padding: 4px;
            zoom: 2;

            button {
                width: 250px;

                .action-button-contents {
                    width: 100%;
                    text-align: left;
                    color: white;
                }
            }
        }
    }

    .search-results-list {
        width: $search-results-width;
        height: #{$modal-height - $modal-header-height};
        background: rgba(0, 0, 0, 0.38);
        overflow-y: auto;

        .search-item {
            cursor: pointer;
            user-select: none;
            line-height: 64px;
            font-size: 28px;
            padding: 0 24px;
            box-sizing: border-box;
            color: white;

            &:hover {
                background: $material-color-amber-400;
                color: black;
            }
        }
    }
}