@import '../../../../styles/theme.scss';
@import '../../styles/dimensions.scss';

.search-results-list {
    width: $search-results-width;
    height: #{$modal-height - $modal-header-height};
    background: rgba(0, 0, 0, 0.38);
    overflow-y: auto;
    direction: rtl;

    .search-item {
        cursor: pointer;
        user-select: none;
        line-height: 64px;
        font-size: 28px;
        padding: 0 24px;
        box-sizing: border-box;
        color: white;
        direction: ltr;

        &.selected {
            background: $mdc-theme-primary;
        }

        &:hover {
            background: $material-color-amber-400;
            color: black;
        }
    }
    
    &::-webkit-scrollbar {
        width: $scroll-bar-width;
        background: rgba(black, 0.12);
    }
    
    &::-webkit-scrollbar-thumb {
        background: $mdc-theme-secondary;
    }

}
