<ng-container *ngIf="bookmarks">
    <div class="search-results-container">
        <div>
            <app-main-modal-search-result-list [items]="bookmarks.items" (selectedItemChange)="selectItem($event)">

            </app-main-modal-search-result-list>
        </div>
        <div>
            <app-main-modal-search-item-info [imageUrl]="selectedItemImageUrl" [description]="selectedItemDescription" [boundingBox]="selectedItem?.boundingBox">
                
            </app-main-modal-search-item-info>
        </div>
        <div class="actions-container">
            <div class="action">
                <button mdc-button (click)="viewInController()">
                    <div class="action-button-contents">
                        <mdc-icon>settings_remote</mdc-icon>SEND TO CONTROLLER
                    </div>
                </button>
            </div>
            <div class="action">
                <button mdc-button>
                    <div class="action-button-contents">
                        <mdc-icon>sort_by_alpha</mdc-icon>SORT
                    </div>
                </button>
            </div>
        </div>
    </div>
</ng-container>