<ng-container *ngIf="items">
    <div class="search-results-container">
        <div>
            <app-main-modal-search-result-list 
                [items]="items" 
                (selectedItemChange)="selectItem($event)">
            </app-main-modal-search-result-list>
        </div>
        <div>
            <app-main-modal-search-item-info
                [title]="selectedItem?.name"
                [imageUrl]="selectedItemImageUrl" 
                [description]="selectedItemDescription">
            </app-main-modal-search-item-info>
        </div>
        <div class="actions-container">
            <div class="subheader">
                SEARCH RESULTS
            </div>
            <div class="action">
                <button mdc-button>
                    <div class="action-button-contents">
                        <mdc-icon>sort_by_alpha</mdc-icon>SORT
                    </div>
                </button>
            </div>
            <div class="action">
                <button mdc-button (click)="viewInController()">
                    <div class="action-button-contents">
                        <mdc-icon>settings_remote</mdc-icon>SEND TO CONTROLLER
                    </div>
                </button>
            </div>
            <ng-container *ngIf="selectedItem">
                <div class="subheader">
                    SELECTED ITEM
                </div>
                <div class="action">
                    <button mdc-button (click)="navigate()">
                        <div class="action-button-contents">
                            <mdc-icon>language</mdc-icon>VIEW ON GLOBE
                        </div>
                    </button>
                </div>
                <div class="action">
                    <button mdc-button (click)="selectTerrainSection()">
                        <div class="action-button-contents">
                            <mdc-icon>terrain</mdc-icon>VIEW LOCALIZED MODEL
                        </div>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>