<div class="modal-contents with-header with-footer">
    <div class="modal-header">
        Measure Distance
    </div>
    <div class="main-contents" [ngSwitch]="helpMode">
        <div *ngSwitchCase="false">
            <div *ngFor="let point of points">
                ({{point.x}}°, {{point.y}}°)
            </div>
            <div>
                ({{currentPoint.x}}°, {{currentPoint.y}}°)
            </div>
        </div>
        <div *ngSwitchCase="true">
            <div>
                Make an area selection by specifying the bounding box boundaries:
            </div>
        </div>
    </div>
    <div class="modal-footer" (click)="toggleHelpMode()" [ngSwitch]="helpMode">
        <div *ngSwitchCase="false">
            Press the Steam button for help
        </div>
        <div *ngSwitchCase="true">
            Press the Steam button to return
        </div>
    </div>
</div>