<div class="modal-contents with-header">
    <div class="modal-header">
        Layers
    </div>
    <div *ngFor="let layer of layers; let i = index">
        <div class="layer-item" [ngClass]="{'focused': selectedLayer === i}">
            <div class="name">
                {{layer.name}}
            </div>
            <div class="opacity">
                <mdc-icon>opacity</mdc-icon> 
                <div class="slider-container">
                    <mdc-slider [min]="0" [max]="100" [(ngModel)]="layer.opacity"></mdc-slider>
                </div>
                <div class="value">
                    {{(layer.opacity) / 100 | percent}}
                </div>
            </div>
        </div>
    </div>
</div>
