$mdc-theme-primary: #20c0ff;
$mdc-theme-secondary: #83e603;

@import '~@angular-mdc/theme/material';

body {
    margin: 0;
    font-family: Roboto;
}

.modal-container {
    width: 100vw;
    height: 100vh;
}

mdc-icon {
    user-select: none;
}