@import './app/styles/theme.scss';

body {
    margin: 0;
    font-family: Roboto;
}

mdc-icon {
    user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}