$mdc-theme-primary: #20c0ff;
$mdc-theme-secondary: #83e603;

@import '~@angular-mdc/theme/material';

body {
    margin: 0;
    font-family: Roboto;
}

mdc-icon {
    user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}