<ng-container *ngIf="facetInfo">
    <div *ngIf="isLastChild" class="grid-icons-container">
        <div class="grid-icon-container" routerLink="./bookmark">
            <div class="grid-icon">
                <mdc-icon>bookmarks</mdc-icon>
            </div>
            <div class="description">
                Bookmarks
            </div>
            <div class="sub description">
                {{getCount('Bookmark')}} Items
            </div>
        </div>
        <div class="grid-icon-container" routerLink="./nomenclature">
            <div class="grid-icon">
                <mdc-icon>location_on</mdc-icon>
            </div>
            <div class="description">
                Nomenclatures
            </div>
            <div class="sub description">
                {{getCount('Nomenclature')}} Items
            </div>
        </div>
        <div class="grid-icon-container" routerLink="./product">
            <div class="grid-icon">
                <mdc-icon>apps</mdc-icon>
            </div>
            <div class="description">
                Products 
            </div>
            <div class="sub description">
                {{getCount('Product')}} Items
            </div>
        </div>
    </div>
    <div *ngIf="!isLastChild">
        <div (click)="onBackTriggerClick($event)" class="back-trigger">
            <mdc-icon>arrow_back</mdc-icon>
        </div>
        <div style="flex: 1;">
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-container>