<ng-container *ngIf="facetInfo">
    <div style="display: flex">
        <div class="dummy-icons-container" [ngClass]="mode" (click)="onBackTriggerClick($event)">
            <div *ngFor="let icon of navigableIcons; let i = index" 
                [ngClass]="componentName + ' dummy-icon ' + i">
            </div>
        </div>
        <div class="navigable-icons-container" [ngClass]="mode">
            <ng-container *ngFor="let route of routes; let i = index">
                <app-main-modal-navigable-icon
                    [mode]="mode"
                    (iconClicked)="navigate(route.route, i)"
                    [materialIcon]="route.icon"
                    [title]="route.title"
                    subtitle="{{getCount(route.subtitle)}} Items">
                </app-main-modal-navigable-icon>
            </ng-container>
        </div>
        <div class="router-outlet" [ngClass]="{visible: !isLastChild}">
            <ng-container *ngIf="!isLastChild">
                <router-outlet></router-outlet>
            </ng-container>
        </div>
    </div>
</ng-container>
